.remember-me {
    position: relative;
    bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.login-footer {
    display: flex;
    justify-content: space-evenly;

    p {
        color: black;
    }
}

// .mdc-text-field--outlined .mdc-notched-outline {
//     width: 100%;
//     border: 1px solid #222da1 !important;
// }