<header>
  <div class="background">
    <img src="./../../assets/images/login.jpeg" alt="background" />
  </div>
</header>

<main class="login-card">
  <mat-card appearance="outlined">
    <mat-card-content class="login-card-content"
      ><h1>Log in</h1>

      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControl]="email"
          (blur)="updateErrorMessage()"
          required
          [autocomplete]="true"
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          [formControl]="password"
          [autocomplete]="true"
        />
        <button
          class="btn password-button"
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-checkbox class="remember-me">Remember me</mat-checkbox>
      <button
        class="btn"
        (click)="
          authService.logIn({
            email: email.value || '',
            password: password.value || ''
          })
        "
      >
        Log in
      </button>
      <a routerLink="/reset-password" routerLinkActive="active"
        >Forgot password?</a
      >
      <div class="login-footer">
        <p>New to Videoflix?</p>
        <a routerLink="/sign-up" routerLinkActive="active">Sign Up now</a>
      </div>
    </mat-card-content>
  </mat-card>
</main>
