<section class="page-content">
  <header>
    <div class="background">
      <video
        class="background"
        *ngIf="backgroundVideoUrl"
        lazyLoad
        autoplay
        loop
        muted
        playsinline
      >
        <source [src]="backgroundVideoUrl" type="video/mp4" />
        Dein Browser unterstützt kein HTML5-Video.
      </video>
    </div>

    <div class="top-menu">
      <div class="content-logo" routerLink="/" routerLinkActive="active">
        <img src="./../../assets/images/symbol.png" alt="logo" />
      </div>
      <button class="login-button" (click)="authService.logOut()">
        <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
        <p>Log Out</p>
      </button>
    </div>
  </header>

  <main class="content">
    <h3>New on Videoflix</h3>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let thumbnail of latestTumbnails">
        <img [src]="thumbnail" alt="Video Thumbnail" />
      </div>
    </div>
    <!-- Anzeige für jede Kategorie -->
    <div *ngFor="let category of getCategories()">
      <h3>{{ category | capitalize }}</h3>
      <div class="thumbnails">
        <div
          *ngFor="let video of categorizedVideos[category]"
          class="thumbnail"
        >
          <img
            [src]="apiService.STATIC_BASE_URL + video.thumbnail"
            alt="Video Thumbnail"
          />
        </div>
      </div>
    </div>
  </main>
</section>
