<section class="page-content">
  <header>
    <div class="background">
      <img src="./../../assets/images/rectangle.png" alt="background" />
    </div>
    <div class="top-menu">
      <div class="content-logo" routerLink="/" routerLinkActive="active">
        <img src="./../../assets/images/symbol.png" alt="logo" />
      </div>
      <button
        class="login-button"
        routerLink="/sign-in"
        routerLinkActive="active"
      >
        <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
        <p>Log Out</p>
      </button>
    </div>
  </header>

  <main>
    <div class="infotext">
      <h1>Movies, TV shows, and more</h1>
      <p>Enter your email to create or restart your subscription.</p>
    </div>
  </main>
</section>
