<section class="page-content">
  <header>
    <div class="background">
      <div class="video-title">
        <h3>{{ this.videoTitle }}</h3>
        <p class="video-description">{{ this.videoDescription }}</p>
      </div>
      <video
        #myVideo
        class="video-js vjs-default-skin"
        controls
        preload="auto"
        width="100%"
        height="100%"
      ></video>
    </div>

    <div class="top-menu">
      <div class="content-logo" routerLink="/" routerLinkActive="active">
        <img src="./../../assets/images/symbol.png" alt="logo" />
      </div>
      <button class="btn login-butto max-width" (click)="authService.logOut()">
        <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
        <p>Log Out</p>
      </button>
    </div>
  </header>

  <main class="content">
    <h3>New on Videoflix</h3>
    <div class="thumbnails" *ngIf="latestVideos$ | async as videos">
      <div
        class="thumbnail"
        *ngFor="let video of latestVideos$ | async"
        (click)="
          setSelectedVideo(
            apiService.STATIC_BASE_URL +
              (video.hls_playlist ? video.hls_playlist : video.video_file)
          )
        "
      >
        <img
          [src]="apiService.STATIC_BASE_URL + video.thumbnail"
          alt="Video Thumbnail"
        />
      </div>
    </div>
    <!-- Anzeige für jede Kategorie -->
    <div *ngFor="let category of categorizedVideos$ | async | keyvalue">
      <h3>{{ category.key | capitalize }}</h3>
      <div class="thumbnails">
        <div
          *ngFor="let video of category.value"
          class="thumbnail"
          (click)="
            setSelectedVideo(
              apiService.STATIC_BASE_URL +
                (video.hls_playlist ? video.hls_playlist : video.video_file)
            )
          "
        >
          <img
            [src]="apiService.STATIC_BASE_URL + video.thumbnail"
            alt="Video Thumbnail"
          />
        </div>
      </div>
    </div>
  </main>
</section>

<div
  class="video-player-overlay"
  *ngIf="selectedVideoUrl$ | async as selectedVideo"
>
  <div class="video-container">
    <button class="close-btn" (click)="setSelectedVideo(null)">
      <mat-icon>close</mat-icon>
    </button>

    <app-videoplayer [videoUrl]="selectedVideo"></app-videoplayer>
  </div>
</div>
