<header>
  <div class="background">
    <img src="./../../assets/images/login.jpeg" alt="background" />
  </div>
  <div class="top-menu">
    <button
      class="btn login-button"
      routerLink="/sign-in"
      routerLinkActive="active"
    >
      <p>Log in</p>
    </button>
  </div>
</header>

<main class="login-card">
  <mat-card appearance="outlined">
    <mat-card-content class="login-card-content"
      ><h1>Sign up</h1>

      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControl]="email"
          (blur)="updateErrorMessage()"
          required
          [autocomplete]="true"
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          [formControl]="password"
          [autocomplete]="true"
        />
        <button
          class="btn password-button"
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm your password</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          [formControl]="repeated_password"
          [autocomplete]="true"
        />
        <button
          class="btn password-button"
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        class="btn register-button"
        [disabled]="!isFormValid()"
        (click)="
          authService.register({
            email: email.value || '',
            password: password.value || '',
            repeated_password: repeated_password.value || ''
          })
        "
      >
        Get started
      </button>
    </mat-card-content>
  </mat-card>
</main>
