<header>
  <div class="background">
    <img src="./../../assets/images/login.jpeg" alt="background" />
  </div>
  <div class="top-menu">
    <button
      class="btn login-button"
      routerLink="/sign-in"
      routerLinkActive="active"
    >
      <p>Log in</p>
    </button>
  </div>
</header>

<main class="login-card">
  <mat-card appearance="outlined">
    <mat-card-content class="login-card-content">
      @if (!requestSent()) {
      <h1>Forgot your password?</h1>
      <span
        >We will send you an email with instructions to reset your
        password.</span
      >

      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControl]="email"
          (blur)="updateErrorMessage()"
          required
          autocomplete="email"
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>

      <button
        class="btn"
        (click)="sendResetEmail()"
        [disabled]="email.invalid || isLoading()"
      >
        @if (isLoading()) {
        <span>Sending...</span>
        } @else {
        <span>Send Email</span>
        }
      </button>
      } @else {
      <div class="success-message">
        <h1>Email Sent!</h1>
        <span
          >We've sent instructions to reset your password to your email
          address.</span
        >
        <span>Please check your inbox.</span>
      </div>
      }
    </mat-card-content>
  </mat-card>
</main>
