<div class="back-button">
  <mat-icon
    aria-hidden="false"
    fontIcon="arrow_back"
    (click)="goBack()"
  ></mat-icon>
</div>
<section class="legal-content">
  <h1>Impressum</h1>
  <br />
  <br />
  <img id="background" src="assets/img/5_background/background.png" alt="" />
  <h2>Kontakt</h2>
  <p>
    Saez<br />
    Musterstrasse 90<br />
    12345 Musterstadt
  </p>
  <br />
  <p>
    Telefon: 123456789<br />
    E-Mail: test&#64;test.de
    <a href="mailto:W4Tt3@example.com"></a>
  </p>
</section>
